* {font-family: Sans-Serif;
box-sizing: border-box;
flex-wrap: wrap;
}

body {
  background-color: #23265b;
}

a:link {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

a:hover {
  color: gray;
}

.line {
    border-bottom: 1px;
    border-style: solid;
  }

  .space {
    margin-top: 10px;
    margin-bottom: 10px;
  }

.header {
  background-color: orange;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 3.0em;
}

.headerImage {
  background-color: orange;
  padding: 15px;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.subHeader {
  background-color: #e89292;
  padding: 1px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  text-align: center;
  font-size: 2.0em;
}

.menu {
  background-color: #ffffff;
  padding: 1px;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 1.0em;
}

.menuTitle {
  background-color: #ffffff;
  padding: 1px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
}

.row {
    width: 100%;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  @media only screen and (min-width: 768px) {

* {background-color: red;}

  .col-6 {width: 50%;}

  .col-12 {width: 100%;}

  }

  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    border: 2px solid #23265b;
    border-radius: 5px;
    background-color: #ffffff;
  }

img {
width: 100%;
max-width: 700px;
  height: auto;
}

iframe{
width: 100%;
  max-width: 700px;
  height: inherit;
}
